<link rel="stylesheet" type="text/css" href="/css/_footer.css">
       
<footer>
    <nav class="navbar navbar-light bg-light">
        <div id="pages">
            <div class="container-fluid">
                <a href="/">Home</a>
            </div>
            <div class="container-fluid">
                <a href="/users/profile">Profile</a>
            </div>
        </div>
      </nav>
</footer>