#sign-up-page{
    width: 40vw;
    height: auto;
    margin-top: 5%;
    margin-left: 20%;
}

#sign-up-btn{
    height: 40px;
    width: 70px;
}

#login-page{
    width: 40vw;
    height: auto;
    margin-top: 5%;
    margin-left: 20%;
}
#layout-main{
    height: 100%;
}

