/* Styles for the login page */
#login-page {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 2%;
  }
  
  #login-page h1 {
    text-align: center;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  /* Optional: Styling for the checkbox */
  .form-check-input {
    margin-left: 0;
  }
  
  /* Optional: Styling for the link to Google sign-in/sign-up */
  #login-page p {
    text-align: center;
    margin-top: 20px;
  }
  
  #login-page a {
    color: #007bff;
    text-decoration: none;
  }
  
  #login-page a:hover {
    text-decoration: underline;
  }
  